<section  class="skills-section">
    <div class="skills-grid">
        <div class="skill">
            <img src="./skills\html.png" alt="">
        </div>
        <div class="skill">
            <img src="./skills\css.png" alt="CSS">

        </div>
        <div class="skill">
            <img src="./skills\javascript.png" alt="JavaScript">

        </div>
        <div class="skill">
            <img src="./skills\typescript.png" alt="TypeScript">

        </div>
        <div class="skill">
            <img src="./skills\angular.png" alt="Angular">

        </div>
        <div class="skill">
            <img src="./skills\firebase.png" alt="Firebase">

        </div>
        <div class="skill">
            <img src="./skills\git.png" alt="Git">

        </div>
        <div class="skill">
            <img src="./skills\restApi.png" alt="Rest API">

        </div>
        <div class="skill">
            <img src="./skills\scrum.png" alt="Scrum">

        </div>
        <div class="skill">
            <img src="./skills\material.png" alt="Material Design">

        </div>
        <div class="skill">
            <img src="./skills\learning.png" alt="Continually learning">

        </div>
        <div class="greens">
            <img src="./background\green.png" alt="">
        </div>
    </div>


    <div class="skills-text">
        <div class="überschrift">
            <h2>My skills</h2>
        </div>
        <div class="text">
            <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
        </div>

        <div class="skills-grid2">
            <div class="skill">
                <img src="./skills\html.png" alt="">
            </div>
            <div class="skill">
                <img src="./skills\css.png" alt="CSS">

            </div>
            <div class="skill">
                <img src="./skills\javascript.png" alt="JavaScript">

            </div>
            <div class="skill">
                <img src="./skills\typescript.png" alt="TypeScript">

            </div>
            <div class="skill">
                <img src="./skills\angular.png" alt="Angular">

            </div>
            <div class="skill">
                <img src="./skills\firebase.png" alt="Firebase">

            </div>
            <div class="skill">
                <img src="./skills\git.png" alt="Git">

            </div>
            <div class="skill">
                <img src="./skills\restApi.png" alt="Rest API">

            </div>
            <div class="skill">
                <img src="./skills\scrum.png" alt="Scrum">

            </div>
            <div class="skill">
                <img src="./skills\material.png" alt="Material Design">

            </div>
            <div class="skill">
                <img src="./skills\learning.png" alt="Continually learning">

            </div>
            <div class="greens">
                <img src="./background\green.png" alt="">
            </div>
        </div>
        <p class="highlight">Looking for <span>another skill</span>?</p>
        <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        
        
        <a href="#contact" class="button">
            <button>Get in touch</button>
        </a>
    </div>
</section>