<section id="about me"   class="about-section">
    <div class="text-content">
        <h1>About me</h1>
        <p>
            Hi, I’m a german speaking Frontend Developer based near Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.
        </p>
        <div class="features">
            <div class="feature">
                <div class="icon">
                    <img src="./2.hero\icon\Location.png" alt="Flexible Icon"> 
                </div>
                <p>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</p>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="./2.hero\icon\bulbdesktop.png"alt="Open-Minded Icon"> 
                </div>
                <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="./2.hero\icon\puzzle.png"alt=""> 
                </div>
                <p>In my profession, programming isn’t just about writing code; it’s a creative form of problem-solving.</p>
            </div>
            <div class="lila">
                <img src="./background\purple.png" alt="">
            </div>
        </div>
    </div>
    <div class="profile">
        <img src="kopf.png" alt="ich">
        <div class="profile-line"></div>
    </div>
</section>
