<section id="arrowUp"  >
    <div class="content-wrapper">
       
        <div class="background-green"></div>
        <div class="titelbackground"></div>
        <div class="photo">
            <img src="ich.png" alt="Bild von Sergej">
        </div>
       <img class="hero"   src="HeroBackground.png" alt=""> 

        <div class="text-wrapper">
            <div class="iam-and-name">
                <div class="iam">
                    <h2>I am</h2>
                </div>
                <div class="name">
                    <div class="all">
                        <p class="green">Marc Vossler</p>
                        <p class="lila">FrontEnd Developer</p>
                    </div>
                </div>
            </div>
            <a href="#contact"  class="buttonDiv">
                <button>Let's Talk</button>
            </a>      
        </div>
    </div>
</section>
