$primary-color: #9747ff;
$background-color: #141d2f;
$text-color: white;
$button-hover-color: #76448a;
$checkbox-link-color: #9b59b6;

.contactDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141d2f;
    color: white;
  

    .contact {
        display: flex;
        gap: 160px;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        z-index: 2;
        padding: 20px;
    

        .text {
            flex: 1;
            max-width: 500px;

            span {
                font-size: 32px;
                font-weight: bold;
                display: block;
            }

            p {
                margin: 10px 0;
                line-height: 1.6;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .formular {




            form {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .success-message {
                    left: 30%;
                    // transform: translate(-50%,-50%);
                    background-color: #4CAF50;
                    color: white;
                    padding: 10px;
                    margin-top: 10px;
                    border-radius: 5px;
                    font-size: 16px;
                    text-align: center;
                    z-index: 10000;
                    position: absolute;
                    bottom: 300px;

                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    background-color: $background-color;
                    color: $text-color;
                    font-size: 16px;
                    transition: border-color 0.3s ease, background-color 0.3s ease;

                    &:focus {
                        outline: none;
                    }

                    &.invalid {
                        border-color: red;
                    }

                    &.valid {
                        border-color: #70e61c;
                    }
                }

                .form-group {
                    position: relative;
                    padding-bottom: 17px;

                    .validation-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        font-size: 18px;
                        font-weight: bold;

                        &.error-icon {
                            color: red;
                        }

                        &.success-icon {
                            color: #70e61c;
                        }
                    }

                    .error-text {
                        color: red;
                        font-size: 12px;
                        margin-top: 5px;
                    }

                    .mail {


                        >p {
                            color: red;
                            font-size: 10px;
                            position: absolute;
                            bottom: 0;





                        }
                    }

                }
            }
        }

    }

    textarea {
        height: 193px;
        resize: none;



    }

    .checkbox {
        // display: flex;
        align-items: flex-start;
        gap: 10px;
        font-size: 14px;
        line-height: 1.4;

        .mail {


            >p {
                color: red;
                font-size: 10px;
                    position: absolute;
            }
        }

        input {
            margin: 0;
            align-self: center;

        }

        label {
            margin: 0;

            a {
                color: $checkbox-link-color;
                text-decoration: none;
            }
        }
    }


    button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        width: fit-content;
        border: none;
        background-color: #b6b6b6;
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 9px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        font-weight: 400;

        &:hover {
            background-color: $button-hover-color;
        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        }
    }

}

.arrow {
    position: absolute;
    right: 10px;
    z-index: 10;

    img {
        width: 25px;
        cursor: pointer;
        transition: transform 0.3s ease, border-color 0.3s ease;
        border: 1px solid white; // Standardfarbe für den Border ist Weiß
        border-radius: 50%; // Runder Rand
        box-sizing: border-box;

        &:hover {
            transform: scale(1.1);
            border-color: #70e61c; // Ändert den Rand beim Hover auf Grün
        }
    }
}





.purple {
    position: absolute;
    left: 0;
    height: 63vh;

    >img {
        height: 118%;
        width: 93vh;
    }
}


@media(max-width:1024px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;
      

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
      

            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 22px;
                    font-weight: bold;
                    display: block;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 17px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 11px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 10px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 10px 30px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;

                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: 0px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }
}

@media(max-width:950px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    display: block;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 16px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 10px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 10px 30px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -26px;

                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }
}



@media(max-width: 753px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -60px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }

}

@media(max-width:600px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -60px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }


}


@media(max-width:530px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
              
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }


            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 11px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            /* Leichtes Drücken beim Klicken */
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                            /* Schwächerer Schatten */
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    display: block;
                    bottom: -77px;
                    z-index: 10;
                    right: 0;
                    padding-left: 346px;

                    img {
                        width: 22px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }
}

@media(max-width:437px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    // display: block;
                
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }


            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            /* Leichtes Drücken beim Klicken */
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                            /* Schwächerer Schatten */
                        }
                    }

                }

                .arrow {
                    position: absolute;
                 

                    z-index: 10;
               

                    img {
                        width: 20px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }
}

@media(max-width:395px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        color: white;

        .contact {
            display: flex;
            // gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
        

                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }


            }

            .formular {
                flex: 1;
                position: relative;
                .form-group {
                    position: relative;
                    padding-bottom: 17px;

                    .validation-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        font-size: 18px;
                        font-weight: bold;

                        &.error-icon {
                            color: red;
                        }

                        &.success-icon {
                            color: #70e61c;
                        }
                    }

                    .error-text {
                        color: red;
                        font-size: 12px;
                        margin-top: 5px;
                    }

                    .mail {


                        >p {
                            color: red;
                            font-size: 10px;
                            position: absolute;
                            bottom: 0;





                        }
                    }

                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }
                

                .arrow {
                    position: relative;
                    bottom: 44px;

                    z-index: 10;
                    padding-left: 232px;

                    img {
                        width: 20px;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }


}