$primary-color: #9747ff;
$background-color: #141d2f;
$text-color: white;
$button-hover-color: #76448a;
$checkbox-link-color: #9b59b6;

.contactDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141d2f;
    padding: 50px;
    color: white;
    height: 66vh;

    .contact {
        display: flex;
        gap: 160px;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        z-index: 2;
        margin-top: -68px;

        .text {
            flex: 1;
            max-width: 500px;

            span {
                font-size: 32px;
                font-weight: bold;
                display: block;
                margin-bottom: 20px;
            }

            p {
                margin: 10px 0;
                line-height: 1.6;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .formular {
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    background-color: $background-color;
                    color: $text-color;
                    font-size: 16px;
                    transition: border-color 0.3s ease, background-color 0.3s ease;

                    &:focus {
                        outline: none;
                    }
                    &.invalid {
                        border-color: red;
                    }

                    &.valid {
                        border-color: #70e61c;
                    }
                }

                .form-group {
                    position: relative;

                    .validation-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        font-size: 18px;
                        font-weight: bold;

                        &.error-icon {
                            color: red;
                        }

                        &.success-icon {
                            color: #70e61c;
                        }
                    }

                    .error-text {
                        color: red;
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
            }
        }

        &:hover {
            border-color: #70e61c;
            cursor: pointer;
        }
    }

    textarea {
        height: 193px;
        resize: none;
    }

    .checkbox {
        // display: flex;
        align-items: flex-start;
        gap: 10px;
        font-size: 14px;
        line-height: 1.4;

        input {
            margin: 0;
            align-self: center;

        }

        label {
            margin: 0;

            a {
                color: $checkbox-link-color;
                text-decoration: none;
            }
        }
    }


    button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        width: fit-content;
        border: none;
        background-color: #b6b6b6;
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 9px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        font-weight: 400;

        &:hover {
            background-color: $button-hover-color;
        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        }
    }

}

.arrow {
    position: absolute;

    right: 40px;
    z-index: 10;


    img {
        width: 25px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
        border-color: #70e61c;

        &:hover {
            transform: scale(1.1);


        }
    }
}



.purple {
    position: absolute;
    left: 0;
    height: 63vh;

    >img {
        height: 100%;
        width: 53vh;
    }
}


@media(max-width:1024px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 53vh;

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 31px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 20px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 10px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 10px 30px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 22px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -35px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }
}

@media(max-width:950px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 66vh;

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 16px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 10px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 10px 30px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -60px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }
}



@media(max-width: 753px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 66vh;

        .contact {
            display: flex;
            gap: 160px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -60px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 100%;
                width: 53vh;
            }
        }
    }

}

@media(max-width:600px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 66vh;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: absolute;
                    bottom: -60px;
                    right: 10px;
                    z-index: 10;

                    img {
                        width: 25px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }


}

@media(max-width:404px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 66vh;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                    margin-top: 83px;
                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }


            }

            .formular {
                flex: 1;
                max-width: 500px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            /* Leichtes Drücken beim Klicken */
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                            /* Schwächerer Schatten */
                        }
                    }

                }

                .arrow {
                    position: relative;
                    bottom: -10px;
                    z-index: 10;
                    padding-left: 261px;

                    img {
                        width: 25px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }
}

@media(max-width:352px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141d2f;
        padding: 50px;
        color: white;
        height: 66vh;

        .contact {
            display: flex;
            gap: 35px;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            z-index: 2;

            .text {
                flex: 1;
                max-width: 500px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                    margin-top: 83px;
                    margin-top: 136px;

                }

                p {
                    margin: 10px 0;
                    line-height: 1.6;
                    font-size: 10px;
                    font-weight: 400;
                }


            }

            .formular {
                flex: 1;
                max-width: 200px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    textarea {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        background-color: $background-color;
                        color: $text-color;
                        font-size: 12px;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }

                    textarea {
                        height: 193px;
                        resize: none;
                    }

                    .checkbox {
                        // display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 9px;
                        line-height: 1.4;

                        input {
                            margin: 0;
                            align-self: center;

                        }

                        label {
                            margin: 0;

                            a {
                                color: $checkbox-link-color;
                                text-decoration: none;
                            }
                        }
                    }


                    button {
                        display: block;
                        margin: 20px auto;
                        padding: 6px 19px;
                        width: fit-content;
                        border: none;
                        background-color: #b6b6b6;
                        color: $text-color;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        border-radius: 9px;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;
                        font-weight: 400;

                        &:hover {
                            background-color: $button-hover-color;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }

                }

                .arrow {
                    position: relative;
                    bottom: -10px;
                    z-index: 10;
                    padding-left: 232px;

                    img {
                        width: 20px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .purple {
            position: absolute;
            left: 0;
            height: 63vh;

            >img {
                height: 400px;
                width: 31vh;
            }
        }
    }


}