<div id="contact"   class="contactDiv">
    <div class="contact">
        <div class="text">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form. I am interested in hearing from you, knowing your ideas, and contributing
                to your projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="formular">
            <form action="#" method="post">
                <input type="text" placeholder="Your name" required>
                <input type="email" placeholder="Your email" required>
                <textarea placeholder="Your message" required></textarea>
                <div class="checkbox">
                    <input type="checkbox" id="privacy" required>
                    <label for="privacy">
                        I’ve read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                    </label>
                </div>
                <button type="submit">Send message :)</button>
            </form>
            
            <a href="#arrowUp" class="arrow">
                <img src="./background/arrow.png" alt="Arrow">
            </a>
           
        </div>
    </div>
    <div class="purple">
        <img src="./background/purpleshadow.png" alt="">
    </div>
</div>