<section class="testimonial-section">
  <div class="testimonial-container">
    <div class="quote-box">
      <div class="quote-icon">
        <img src="background/Frame.png" alt="Quote Icon">
      </div>
      <p class="quote-text">
        {{ currentTestimonial.description }}
      </p>
      <p class="author">
        <span>{{ currentTestimonial.title }}</span> - {{ currentTestimonial.technologies }}
      </p>
    </div>

    <div class="profile">
      <img [src]="currentTestimonial.image" alt="Profile Picture">
      <div class="profile-line"></div>
    </div>
  </div>

  <div class="navigation-dots" (click)="changeTestimonial($event)">
    <img src="continue.png" alt="Navigation Arrows">
  </div>
</section>
