<section>
    <div id="links">

        <div class="vector">
            <img src="./2.hero/icon/Vector.png" alt="">
        </div>
        <div class="buttonsSocial">
            <img src="2.hero\icon\Github.png" alt="Github">
           
            
           
        </div>
        <div class="buttonsSocial">
            <img src="2.hero\icon\mail.png" alt="Email">
        </div>
        <div class="buttonsSocial">
            <img src="2.hero\icon\linkedIn.png" alt="linkedIn">
        </div>
        <h3>Marcvosslergmail.com</h3>
    </div>
</section>
