<section>
    <div id="links">

        <div class="vector">
            <img src="./2.hero/icon/Vector.png" alt="">
        </div>
        <div class="buttonsSocial">
            <a href="https://github.com/DerBlockProgrammer" target="_blank" rel="noopener noreferrer"> <img src="2.hero\icon\Github.png" alt="Github"></a>
           
            
             
        </div>
        <div class="buttonsSocial">
            <a href="mailto:info@DieAkadmie.de" target="_blank" rel="noopener noreferrer">     <img src="2.hero\icon\mail.png" alt="Email"></a>
        </div>
        <div class="buttonsSocial">
            <a href="https://www.linkedin.com/in/marcvossler?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" rel="noopener noreferrer"><img src="2.hero\icon\linkedIn.png" alt="linkedIn"></a>
        </div>
        <h3>Info&#64;MarcVossler.de</h3>
    </div>
</section>
