<footer    class="footer">
    <div class="footer-content">
        <div class="footer-logo">
          <!-- <img src="marc.png" alt=""> -->
            <div class="logo">
                <img src="marc.png" alt="Logo" />
            </div>
            <p >Legal Notice</p>
        </div>
        <div class="footer-copyright">
            <p>© Marc Vossler 2024</p>
        </div>
        <div class="footer-icons">
            <a href="https://github.com/DerBlockProgrammer"><img src="./background/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/marcvossler?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><img src="2.hero/icon/linkedIn.png" alt=""></a>
            <a href="#"><img src="2.hero/icon/mail.png" alt=""></a>
        </div>
    </div>
</footer>
